{# Page d'actu#}
{% extends "VIVADanceBundle:layout.html.twig" %}
{% block title %} {{parent()-}} Actualités {% endblock %}

{% block centrale %}
<div class="Centrale">
		<h2>Fil d'actualité :</h2>
			<h3>Vendredi 15 avril 2016 : Grosse soirée!!</h3>
			<p>(Description de l'évènement.)</p>
			
			<h3>Samedi 16 avril 2016 : C'est le weekend.</h3>
			<p>(Description de l'évènement.)</p>
	</div>
{% endblock %}
