{% extends "VIVADanceBundle:layout.html.twig" %}
{% block title %} {{parent()}} - Cours {% endblock %}

{% block centrale %}
    <div class="Centrale">
		<h2>Nos cours :</h2>
			<img src={{asset('images/planning.jpg')}} alt="Les cours" class="planning"/>
	</div>


{% endblock %}
