{% extends "VIVADanceBundle:layout.html.twig" %}
{% block title %} {{parent()}}- Stages et Cours {% endblock %}

{% block centrale %}
    <div class="panel-default">
	<div class="panel-body">
		<h2>Nos stages et nos soirées :</h2>
			<img src={{asset('images/soirée.jpg')}} alt="Les cours" class="planning"/>
	</div>
    </div>
{% endblock %}
